<a href="https://colab.research.google.com/github/balwanttanwar/week01/blob/master/Python_Pandas_ExcerciseS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#work with csv file
# syntex : dataframe = pd.read_csv(filename.csv)
df = pd.read_csv('https://raw.githubusercontent.com/btkhimsar/MachineLearning-Example/master/CardiacStats.csv')

In [ ]:
#show first 5 data values
df.head(5)

   age     sex           Province                cp  ...  slope  ca  thal    target
0   63    Male     Andhra Pradesh      asymptomatic  ...      0   0     1  Effected
1   37    Male  Arunachal Pradesh  non-anginal pain  ...      0   0     2  Effected
2   41  Female              Assam   atypical angina  ...      2   0     2  Effected
3   56    Male              Bihar   atypical angina  ...      2   0     2  Effected
4   57  Female       Chhattisgarh    typical angina  ...      2   0     2  Effected

[5 rows x 15 columns]

In [ ]:
#show last 5 data values
df.tail(5)

     age     sex          Province  ... ca  thal        target
298   57  Female  Himachal Pradesh  ...  0     3  Not Effected
299   45    Male               Goa  ...  0     3  Not Effected
300   68    Male            Sikkim  ...  2     3  Not Effected
301   57    Male           Gujarat  ...  1     3  Not Effected
302   57  Female         Telangana  ...  1     2  Not Effected

[5 rows x 15 columns]

In [ ]:
#show columns
print (df.columns)

Index(['age', 'sex', 'Province', 'cp', 'trestbps', 'chol', 'fbs', 'restecg',
       'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [ ]:
#Remove heading from dataframe
df = pd.read_csv('https://raw.githubusercontent.com/btkhimsar/MachineLearning-Example/master/CardiacStats.csv',skiprows=1)
print (df.head(5))

   63    Male     Andhra Pradesh      asymptomatic  ...  0.1  0.2  1  Effected
0  37    Male  Arunachal Pradesh  non-anginal pain  ...    0    0  2  Effected
1  41  Female              Assam   atypical angina  ...    2    0  2  Effected
2  56    Male              Bihar   atypical angina  ...    2    0  2  Effected
3  57  Female       Chhattisgarh    typical angina  ...    2    0  2  Effected
4  57    Male          Karnataka    typical angina  ...    1    0  1  Effected

[5 rows x 15 columns]

In [ ]:
#choose any columns as index
df = pd.read_csv('https://raw.githubusercontent.com/btkhimsar/MachineLearning-Example/master/CardiacStats.csv',index_col='Province')
print (df.head(5))

                   age     sex                cp  ...  ca  thal    target
Province                                          ...
Andhra Pradesh      63    Male      asymptomatic  ...   0     1  Effected
Arunachal Pradesh   37    Male  non-anginal pain  ...   0     2  Effected
Assam               41  Female   atypical angina  ...   0     2  Effected
Bihar               56    Male   atypical angina  ...   0     2  Effected
Chhattisgarh        57  Female    typical angina  ...   0     2  Effected

[5 rows x 14 columns]

##Handling Missing Value##

#NaN= Not a number
#all these strings are considerd as default NaN values by Pandas
-> #N/A, #N/A N/A, #NA, -1#IND, -1#QNAN, -NaN,-nan,N/A, NULL, null, n/a,nan,1.#IND,1.#QNAN 

na_values=('any strings or values') funtion will consider given values as NAN values.

keep_default_na=false, it will not consider any values as NAN values

na_filter=false, it is used for boost the performnce
isnull() ,it check null or NAN values in dataframe

In [ ]:
#calculate sum of NaN values in particular columns
print (df['age'].isnull().sum())

0

In [ ]:
#Drop function
#drop nan values
print (df.dropna())
#parameter of dropna functio :how='all or any'(default=any),thresh,subset=['column_name] this will drop 
#columns if there are any nan value present

                   age     sex                cp  ...  ca  thal        target
Province                                          ...
Andhra Pradesh      63    Male      asymptomatic  ...   0     1      Effected
Arunachal Pradesh   37    Male  non-anginal pain  ...   0     2      Effected
Assam               41  Female   atypical angina  ...   0     2      Effected
Bihar               56    Male   atypical angina  ...   0     2      Effected
Chhattisgarh        57  Female    typical angina  ...   0     2      Effected
...                ...     ...               ...  ...  ..   ...           ...
Himachal Pradesh    57  Female    typical angina  ...   0     3  Not Effected
Goa                 45    Male      asymptomatic  ...   0     3  Not Effected
Sikkim              68    Male    typical angina  ...   2     3  Not Effected
Gujarat             57    Male    typical angina  ...   1     3  Not Effected
Telangana           57  Female   atypical angina  ...   1     2  Not Effected

[303 rows x 14 columns]

In [ ]:
#fill nan value
print (df.fillna(method='ffill'))

                   age     sex                cp  ...  ca  thal        target
Province                                          ...
Andhra Pradesh      63    Male      asymptomatic  ...   0     1      Effected
Arunachal Pradesh   37    Male  non-anginal pain  ...   0     2      Effected
Assam               41  Female   atypical angina  ...   0     2      Effected
Bihar               56    Male   atypical angina  ...   0     2      Effected
Chhattisgarh        57  Female    typical angina  ...   0     2      Effected
...                ...     ...               ...  ...  ..   ...           ...
Himachal Pradesh    57  Female    typical angina  ...   0     3  Not Effected
Goa                 45    Male      asymptomatic  ...   0     3  Not Effected
Sikkim              68    Male    typical angina  ...   2     3  Not Effected
Gujarat             57    Male    typical angina  ...   1     3  Not Effected
Telangana           57  Female   atypical angina  ...   1     2  Not Effected

[303 rows x 14 columns]

##Panda Replace##

In [ ]:
#values to the datatfram are replaced with other value dynamocally
#syntex : df.replace()
#parameter : to_replace,limit,value,regex,inplace,method

In [ ]:
df1=df.replace(0,10)
print (df1.head(5))

                   age     sex                cp  ...  ca  thal    target
Province                                          ...
Andhra Pradesh      63    Male      asymptomatic  ...  10     1  Effected
Arunachal Pradesh   37    Male  non-anginal pain  ...  10     2  Effected
Assam               41  Female   atypical angina  ...  10     2  Effected
Bihar               56    Male   atypical angina  ...  10     2  Effected
Chhattisgarh        57  Female    typical angina  ...  10     2  Effected

[5 rows x 14 columns]

In [ ]:
df2=df.replace(to_replace='Male',value='Men')
print (df2.head(5))

                   age     sex                cp  ...  ca  thal    target
Province                                          ...
Andhra Pradesh      63     Men      asymptomatic  ...   0     1  Effected
Arunachal Pradesh   37     Men  non-anginal pain  ...   0     2  Effected
Assam               41  Female   atypical angina  ...   0     2  Effected
Bihar               56     Men   atypical angina  ...   0     2  Effected
Chhattisgarh        57  Female    typical angina  ...   0     2  Effected

[5 rows x 14 columns]

In [ ]:
#pandas date forment 
#syntex df.read_csv('file_name.csv',parse_date=['Date'])

##loc and iloc in Pandas##

In [ ]:
#access a group of row and columns by label(s) or a boolen array
#syntex : df.loc()
#loc is label-based, which means that we have to specify the name 
# of the rows and columns that we need to filter out.
print (df.loc[df.age >= 60])

                age     sex                cp  ...  ca  thal        target
Province                                       ...
Andhra Pradesh   63    Male      asymptomatic  ...   0     1      Effected
Maharashtra      64    Male      asymptomatic  ...   0     2      Effected
Nagaland         66  Female      asymptomatic  ...   0     2      Effected
Tamil Nadu       69  Female      asymptomatic  ...   2     2      Effected
Telangana        61    Male  non-anginal pain  ...   0     2      Effected
...             ...     ...               ...  ...  ..   ...           ...
Tripura          61    Male    typical angina  ...   1     3  Not Effected
West Bengal      67    Male  non-anginal pain  ...   0     3  Not Effected
Karnataka        63    Male    typical angina  ...   2     3  Not Effected
Punjab           63  Female    typical angina  ...   0     2  Not Effected
Sikkim           68    Male    typical angina  ...   2     3  Not Effected

[90 rows x 14 columns]

In [ ]:
# iloc is integer index-based. So here, we have to specify rows 
# and columns by their integer index.
df4=df.iloc[[0,2],[1,3]]
print (df4.head())

                   sex  trestbps
Province
Andhra Pradesh    Male       145
Assam           Female       130